services:
  icecast:
    image: moul/icecast
    container_name: radio_icecast
    ports:
      - "8000:8000"
    volumes:
      - ./icecast_config/icecast.xml:/etc/icecast2/icecast.xml
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: radio_backend
    env_file:
      - ./backend/.env
    expose:
      - "5000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: radio_nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./frontend/dist:/usr/share/nginx/html
    depends_on:
      - backend
      - frontend
      - icecast
    restart: unless-stopped
